<!DOCTYPE html>
 <html ng-app="main_app" ng-controller="main_controller">
    <meta charset="utf-8">
	<head>
	  <title>Upload Aviso</title>
      <link rel="icon" href="favicon_looking_glass.png">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	  <link rel="stylesheet" href="styles/ng-table.min.css">
	  <link rel="stylesheet" href="styles/ui-carousel.min.css">
	  <link rel="stylesheet" href="styles/material_icons.css" >
	  <link rel="stylesheet" href="styles/style.css" />
	  
	  <script src="js/angular.min.js"></script>
	  <script src="js/angular-animate.min.js"></script>
      <script src="js/angular-aria.min.js"></script>
      <script src="js/angular-material.min.js"></script>
	  <link rel="stylesheet" href="styles/angular-material.min.css" />
	  <link rel="stylesheet" href="styles/jk-carousel.min.css" />
	  <script src="js/ng-table.min.js"></script>
      <script src="js/angular-local-storage.min.js"></script>
	  
	  <script src="js/jk-carousel.min.js"></script>
	  <script src="js/script.js"></script>
    </head>
	<body>
		<div id="main_div" class ="col-md-2 ">
			<div class="col-md-12 header_div">
				<p><b><u> Crear Aviso </u></b></p>
			</div>
			<div class="col-md-12 info_div">
				<label> API Password : </label><BR>
				<input maxlength="15" size="38" id="api_password" type="text" ng-model="api_password_input"></input><BR>
				<label> File Name : </label><BR>
				<input maxlength="38" size="38" id="file_name" type="text" ng-model="file_name_input"></input><BR>
				
				<BR>
				<label> Nombre : </label><BR>
				<input maxlength="38" size="38" id="aviso_name" type="text" ng-model="aviso.name" ></input><BR>
				
				<label> Direccion : </label><BR>
				<input maxlength="38" size="38" id="aviso_description" type="text"  ng-model="aviso.address" ></input><BR>
				
				<label> Telefonos (separados por ";") : </label><BR>
				<input maxlength="38" size="38" id="aviso_description" type="text"  ng-model="phones_input" ></input><BR>
				
				<label> Descripcion : </label><BR>
				<textarea id="aviso_description"  cols="40" rows="5" ng-model="aviso.description" ></textarea><BR>
				
				<label> Tags : </label><BR>
				<input maxlength="500" size="38" size="38"id="aviso_tags" type="text"  ng-model="aviso.tags" ></input><BR>
				<BR>
				<BR>				
				<input id="aviso_checkBox_visible" type="checkbox" ng-model="aviso.visible" >Visible</input><BR>
				<input id="aviso_checkBox_sensible" type="checkbox" ng-model="aviso.sensible" >Sensible</input><BR>
				<input id="aviso_checkBox_comercial" type="checkbox" ng-model="aviso.comercial" >Comercial</input><BR>
			</div>
				
			<div class="col-md-12 fotos_div">
				<div class="col-md-12">
						
						<div class="col-md-12 image_div_preview" >
							<label> Image preview </label><BR>
							<img image_div_preview ng-show="uploadme" src="{{uploadme}}" width="290" height="160" ></img>
							
						</div><BR>
						<div class="col-md-12"><BR>
						   
						</div>
						<div class="col-md-12 inputWrapper">
						   <input class="fileInput btn-primary" type="file" onchange="angular.element(this).scope().setFile(this)" fileread="uploadme" > <font size="6px" color="white"><b>Foto...</b></font></input>
						</div>
						
				</div><BR>
				
				<div class="col-md-12 spacing">
				</div>
				<div class="col-md-12">
					<p ng-show="result_upload" ><font color="red">{{ result_upload }}</font> </p>
					<p ng-show="result_upload" ><font color="red">{{ result_photo_upload }}</font> </p>
				</div>
				<div class="col-md-12">
					<button id="subir_boton" class="btn-success" name="mis_fotos" ng-click="subir_informacion()" ><font size="6px" color="white"><b>CREAR</b></font></button><BR>
				</div>
			</div>
		</div>
		
	</body>	
	
	
		
	
</html>